*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #C2DCFD;
    padding:15rem 5rem;
    
}
body,button, input {
    font-family:arial;
    font-size: var(--button-number-size);
}

:root{
    font-size: 62.5%;
    --font-h1: clamp(1.5rem, 1rem + 3vw, 2.5rem);
    --font-p: clamp(1rem, 1rem + 2vw, 1.4rem);
    --button-number-size: clamp(1rem, 1rem + 3vw, 1.7rem)
    
}

main{
    max-width:43rem;
    height: 26rem;
    background-color:white;
    margin:auto;
    padding: 0 2rem 0 2rem;
    border-radius: 4px;
}

h1{
    font-size: var(--font-h1);
    color:rgb(54, 54, 54);
}

p{
    font-size: var(--font-p);
    margin-top: 1rem ;
    color:rgb(106, 106, 106);
}

.items{
    text-align: center;
    padding-top: 4rem;
}


form{
    margin-top: 3rem;
    display:flex;
    height: 6rem;
    justify-content: center;
    
}
#input-numero{
    max-width:5rem;
    background-color:#DFE2E9;
    border:none;
    padding-left: 1.5rem;
    border-radius: 4px 0px 0px 4px;
    
}

#botao-tentar, #botao-novamente{
    background-color: #665cec;
    padding: 0 1.5rem;
    color:white;
    border:none;
    border-radius: 0px 4px 4px 0px;
}
#botao-tentar:hover, #botao-novamente:hover{
    background-color:#514ab6;
    cursor:pointer;
}


main div:nth-child(2) form{
    margin-top: 4rem;
}

#botao-novamente{
    border-radius: 4px;

}

.hide{
    display:none;
}

#valor-vezes {
    max-width: 4rem;
    margin-left:.5rem;

}

#errou{
    margin-top: .8rem;
}